
.nav-bar {
    background-color: #333;
    width: 100%;
    height: 100px;
  }
  

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    padding-top: 42px;
  }
  

.nav-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
.nav-bar a.active {
    background-color: #333;
    color: white;
  }

#brandlogo img {
    width: 250px;
    height: 100px;
}

#brandlogo {
    float: right;
}

#pagecontainer {
    outline: black;
    outline-width: 5px;
}

#home_page_image img {
    width: 1880px;
}

#home_title {
    width: 500px;
    position: relative;
    left: 750px;
    top: -600px;
    z-index: 1;
}

#box0 {
  width: 750px;
  background-color: #000000;
  opacity: 75%;
  height: 300px;
  border: 2px black;
  position: relative;
  left: 575px;
  top: -850px;
}

#home_title h1 {
    color: #ffffff;
    font-size: 80px;
}

.menu_lines_container{

  position: absolute;

  right: 30vh;
  top: 55px;

  transform: translateY(-50%);

  width: 60px;
  height: 60px;


}


.menu_lines{

  position: relative;

  width: 100%;
  height: 7px;

  background-color: white;

  margin-bottom: 10px;
  margin-top: 10px;

}

.grid-box {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
}

.row {
  padding-top: 50px;
}